<template>
  <div class="container cont">
    <div class="row">
      <!-- filter -->
      <div class="col-4 leftPanel">
        <div class="form-group mt-3">
          <h5>Filter data by the following fields:</h5>
          <label>Country</label>
          <select class="form-control" v-model="searchCountry">
            <option>RU</option>
            <option>LV</option>
            <option>PL</option>
          </select>
        </div>

        <label class="form-check-label mt-3">Proxy type:</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" value="0" v-model="proxiesTypeSearch" />
          <label class="form-check-label">Transparent</label>
          <br />

          <input type="checkbox" class="form-check-input" value="1" v-model="proxiesTypeSearch" />
          <label class="form-check-label">Anonymous</label>
          <br />

          <input type="checkbox" class="form-check-input" value="2" v-model="proxiesTypeSearch" />
          <label class="form-check-label">Elite</label>
          <br />
        </div>

        <label class="form-check-label mt-3">Alive:</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkbox" v-model="checkedAlive" />
          <label class="form-check-label">{{checkedAlive}}</label>
          <br />
        </div>
      </div>

      <!-- content -->
      <div class="col-8 mt-5">
        <label v-if="filteredProxies == ''">Please specify the correct filters to display data.</label><br/>
        <div v-for="proxy in filteredProxies" :key="proxy.id"  >
          <div class="alert alert-info mb-2">
            id: {{proxy.id}}
            <br />
            created: {{proxy.created}}
            <br />
            modified: {{proxy.modified}}
            <br />
            host: {{proxy.host}}
            <br />
            port: {{proxy.port}}
            <br />
            country: {{proxy.country}}
            <br />
            alive: {{proxy.alive}}
            <br />
            last_check_time: {{proxy.last_check_time}}
            <br />
            busy_until: {{proxy.busy_until}}
            <br />
            proxy_type: {{proxy.proxy_type}}
            <br />
            port_response_time: {{proxy.port_response_time}}
            <br />
            chargeable: {{proxy.chargeable}}
            <br />
            use_counter: {{proxy.use_counter}}
            <br />
            protocol: {{proxy.protocol}}
            <br />
            source_of_proxy: {{proxy.source_of_proxy}}
            <br />
          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      proxy: null,
      searchCountry: "",
      proxiesTypeSearch: [],
      checkedAlive: false,
    };
  },
  computed: {
    proxies() {
      return this.$store.state.proxyModule.proxies;
    },
    filteredProxies() {
      return this.proxies.filter(p =>
            p.country.toLowerCase().indexOf(this.searchCountry.toLowerCase()) >=0 && 
            p.alive === this.checkedAlive &&
            p.proxy_type == this.proxiesTypeSearch.filter(val => p.proxy_type == val)
        )
    }
  },
  methods: {
    loadProxies() {
      return this.$store.dispatch("LOAD_PROXIES_ACTION");
    }
  },
  created() {
    this.loadProxies();
  }
};
</script>

<style>
.cont {
  min-width: 320px;
}
.leftPanel {
  border-right: 4px solid rgb(90, 90, 90);
}
</style>
